:root {
    --primary-text-color: #212121;
    --title-text-color: #ffff;
    --accent-text-color: #2196f3;
    --header-text-color: #757575;
    --logo-text-color: black;
    --contact-text-color: rgba(255, 255, 255, 0.6);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

h2,
h3 {
    color: var(--primary-text-color);
}

h2 {
    font-size: 36px;
    color: var(--primary-text-color);
}
h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

.header {
    color: var(--primary-text-color);
}

p {
    color: var(--header-text-color);
}

/* ----------------header---------------- */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 900px;
    color: var(--accent-text-color);
    text-decoration: none;
    font-style: normal;
    font-size: 26px;
    letter-spacing: 0.03em;
    font-style: 1.2em;
}

span {
    color: var(--logo-text-color);
}

.nav {
    cursor: pointer;
}

.menu a {
    color: var(--primary-text-color);
    font-weight: 500;
    text-align: right;
    height: 16px;
    text-decoration: none;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.menu a:hover,
.menu a:active,
.menu a:focus {
    color: var(--accent-text-color);
}

.contacts {
    text-align: left;
}

.contacts a {
    text-decoration: none;
    color: var(--header-text-color);
}

.contacts a:hover,
.contacts a:active,
.contacts a:focus {
    color: var(--accent-text-color);
}

.menu-item .current {
    color: var(--accent-text-color);
}
/* -----------------------filter ---------------------- */
.btn {
    background: #f5f4fa;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    font-weight: 500;
    border: none;
}

.btn:active,
.btn:hover,
.btn:focus {
    color: var(--title-text-color);
    background: #2196f3;
}

.menu-btn .btn.current {
    color: var(--title-text-color);
    background: #2196f3;
}

.container {
    cursor: pointer;
}

/* ----------------Peculiarities---------------- */

.order {
    background: #2f303a;
    left: 0px;
    top: 80px;
}

h2 {
    font-weight: 900;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

.business {
    color: var(--title-text-color);
    line-height: 60px;
}

button {
    font-family: Roboto, sans-serif;
    background-color: var(--accent-text-color);
    text-align: center;
    padding: 10px 32px;
    left: 700px;
    letter-spacing: 0.06em;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    color: var(--title-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
/*--------------- about us ---------------*/
.team {
    background: #f5f4fa;
}

.text {
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
}
/* ---------project------- */

.name-block {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.direction p {
    color: var(--header-text-color);
    font-size: 16px;
}

/* -------------footer------------ */

.footer {
    background: #2f303a;
    text-align-last: left;
}

.our-contacts {
    height: 252px;
    font-style: normal;
}

.our-contacts {
    text-decoration: none;
    color: var(--contact-text-color);
}

.address {
    color: var(--title-text-color);
    text-decoration: none;
}
.logo-footer {
    color: var(--title-text-color);
}

.e-mail,
.tel {
    color: var(--contact-text-color);
    text-decoration: none;
}

.our-contacts-link a:active,
.our-contacts-link a:hover,
.our-contacts-link a:focus {
    color: var(--accent-text-color);
}
