:root {
    --primary-text-color: #212121;
    --title-text-color: #ffff;
    --accent-text-color: #2196F3;
    --header-text-color: #757575;
    --logo-text-color:black;
    --contact-text-color: rgba(255, 255, 255, 0.6);

}

* {
    margin: 0;
    padding: 0;
}

body {
    /* box-sizing: border-box; */
    font-family: "Roboto", normal;
    width: 1600px;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
}

.header {
    width: 1600px;
    /* height: 80px; */
    left: 0px;
    color: var(--primary-text-color)
}

h3, h4 {
    color: var(--primary-text-color);   
}

h3 {
    font-size: 36px;
}

/* ----------------header---------------- */

ul {
    list-style: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 900px;
    color:var(--accent-text-color);
    text-decoration: none;
    font-style: normal;
    font-size: 26px;
    letter-spacing: 0.03em;
    font-style: 1.2em;
}

span {
    color:var(--logo-text-color);
}

.header {
    width: 1600px;
    height: 80px;
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
}

.nav {
    cursor: pointer;
}

.menu a {
    color: var(--primary-text-color);
    font-weight: 500;
    text-align: right;
    text-decoration: none;
}

.menu a:hover {
    color: var(--accent-text-color);
}

.menu a:active {
    color: var(--accent-text-color);
}

.contacts {
    text-align: left;
    position: center;
    width: 170px;

}

.contacts a{
    text-decoration: none;
    color: var(--header-text-color);
}

.contacts a:hover {
    color:var(--accent-text-color);
}

.contacts a:active {
    color: var(--accent-text-color);
}

/* -----------------------menu2---------------------- */
.btn-login {
    background:#F5F4FA;

}

.btn-login a{
    text-decoration: none;
    color:var(--primary-text-color);
}

.btn-login a:active {
    color: var(--title-text-color);
    background: #2196F3;
}

.btn-login a:hover {
    color: var(--accent-text-color);
}

/* ---------project------- */


.project {
    width: 1170px;
    /* height: 1360px; */
}

.direction {
    width: 370px;
    height: 404px;
}

.direction img{
    height: 294px;
}

h4 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
}

.direction p{
    color: var(--header-text-color);
    font-size: 16px;
}

/* -------------footer------------ */
.our-contacts {
    background: #2F303A;
    height: 252px;
    font-style: normal;
}

.our-contacts {
    text-decoration: none;
    color: var(--contact-text-color);
}

.address {
    color: var(--title-text-color);
}

.e-mail2 {
    color: var(--contact-text-color);
}

.phone {
    color: var(--contact-text-color);
}