body {
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li ol {
    list-style-type: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

nav,
li,
ol a,
button {
    cursor: pointer;
    display: inline-block;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-header .logo-text {
    color: #2e2f42;
}

.footer-logo .logo-text {
    color: #f4f4fd;
}


.nav {
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.menu-link {
    color: #2e2f42;
}

.contacts-list {
    font-style: normal;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-item {
    font-weight: 400;
    letter-spacing: 0.02em;
    margin-right: 40px;
}

.nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts {
    font-style: normal;
}

.e-mail {
    margin-right: 40px;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}


.title {
    background-color: #2e2f42;
}

.business {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    cursor: pointer;
}

.btn-business {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

/* .btn-business:active, */
.btn-business:hover,
.btn-business:focus {
    color: #ffffff;
    background: #9747ff;
}

.about-block {
    letter-spacing: 0.02em;
    line-height: 1.24;
}

.target-company {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.block-team {
    background-color: #f4f4fd;
}

.title-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.our-team {
    border-left-color: #ffffff;
}

.representative {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}




.our-team {
    background-color: #ffffff;
}


/* ------------our portfolio----------------------- */

.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/* ----------------footer menu---------------------------- */

.footer {
    background-color: #2e2f42;
    /* justify-content: center;
    display: flex;
} */

    /* .block-footer {
    height: 312px;
    padding-top: 100px;
    padding-left: 156px;
    text-align: left;
    /* width: 1440px; */
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    color: #4d5ae5;
}

.text-footer {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    /* padding-top: 16px; */
    /* width: 264px; */
}